* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(14, 14, 17);
  .formLogin {
    background-color: rgb(14, 14, 17);
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .form-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px;
      width: 100%;
      input {
        width: 100%;
        height: 30px;
        border-radius: 5px;
        border: none;
        padding: 5px;
      }
    }
    .btn {
      width: 86%;
      border-radius: 5px;
      border: none;
      margin-top: 10px;
      padding: 8px;
      background-color: transparent;
      border: 1px solid rgb(0, 0, 255);
      color: white;
      font-weight: bold;
      &:hover {
        background-color: rgb(0, 0, 255);
        color: white;
      }
    }
  }
  .navbar {
    box-shadow: 0 0px 5px rgb(255, 255, 255);
  }

  h2 {
    color: red;
    font-size: 4rem;
    margin-top: 50px;
  }
  hr {
    border: 1px solid red;
  }
  .card {
    background: #000000;
    background: -moz-linear-gradient(top, #000000 0%, #000000 0%, #383838 70%);
    background: -webkit-linear-gradient(
      top,
      #000000 0%,
      #000000 0%,
      #383838 100%
    );
    background: linear-gradient(
      to bottom,
      #000000 0%,
      #000000 0%,
      #383838 100%
    );
    color: rgb(255, 255, 255);
    box-shadow: 0 0 8px rgb(58, 58, 58);
    border-radius: 10px;
    &:hover {
      box-shadow: 0 0 8px rgb(255, 255, 255);
      transform: scale(1.05);
      transition: all 0.3s ease-in-out;
    }

    transition: all 0.5s ease-in-out;
    .card-img {
      border-radius: 5px 0 0px 5px;
      box-shadow: 5px 0 12px rgb(0, 0, 0);
    }
    .cardContent {
      padding-left: 0;
      h5 {
        font-size: 18px;
        font-weight: 600;
        border-bottom: solid 1px;
        text-align: center;
        margin-bottom: 25px;
        color: rgb(255, 0, 0);
      }
      small {
        color: rgb(136, 136, 136);
        font-size: 9px;
      }
      .pFappearance {
        font-size: 13px;
        min-height: 44px;
      }
      a {
        display: flex;
        justify-content: center;
        color: rgb(136, 136, 136);
        text-decoration: none;
        &:hover {
          color: rgb(255, 255, 255);
        }
      }
    }
  }
  .heroDescription {
    margin-top: 30px;
    padding: 50px;
    .list-group {
      span {
        padding-left: 5px;
      }
    }
  }
  .img-thumbnail {
    border-radius: 10px;
    background-color: none;
    padding: 0;
    border: none;
    box-shadow: 1px 1px 40px 20px rgba(97, 97, 97, 0.63);
  }
}

@media (min-width: 991px) and (max-width: 1199px) {
  .heroDescription {
    margin-top: 0 !important;
    padding: 25px !important;
    button {
      margin-top: 20px !important;
    }
  }
}

@media (min-width: 576px) and (max-width: 990px) {
  .contentUser {
    margin-right: 30px;
  }
  .cardContent {
    padding-left: 16px !important;
    .cardList {
      padding-bottom: 0 !important;
    }
  }
  .contentHero {
    flex-direction: column;
    align-items: center;
    .heroDescription {
      margin-top: 20px;
      padding: 10px;
    }
  }
}

@media (max-width: 575px) {
  .container {
    h2 {
      font-size: 50px;
      text-align: center;
    }
    .contentHereoList {
      row-gap: 0 !important;
      .cardContent {
        padding-left: 16px !important;
      }
    }

    .contentHero {
      flex-direction: column;
      align-items: center;
      .heroDescription {
        margin-top: 30px;
        padding: 0px;
        .list-group {
          padding: 0 !important;
        }
        h4 {
          margin-top: 15px;
        }
        button {
          margin: 15px 0 15px 0 !important;
          width: 100%;
        }
      }
    }
  }

  .partnerships {
    margin: auto;
  }
  .contentUser {
    position: absolute;
    right: 18px;
    top: 90px;
  }
}
